body{
    background-color: rgb(3, 3, 54);
    color: #fff;
    margin: 80px;
    font-family: monospace;
}

.titulo{
    font-size: 70px;
    text-align: center;
}

.p{
    font-size: 25px;
    color: #f8f8f8;
}

.input{
    padding: 10px 50px;
    border-radius: 50px;
    margin-left: 20px;
    text-transform: lowercase;
}

.input:focus{
    background-color: rgba(10, 10, 135, 0.5);
    left: 0;
    color: #fff;
    font-style: italic;
    outline: 0;
    padding: 10px 20%;
    border: 1px solid #fff;
}

.botao{
    background-color: #fff;
    color: rgb(3, 3, 54);
    padding: 15px 30px;
    border-radius: 50px;
    margin-top: 10px;
    cursor: pointer;
}
.adicionar{
    margin-right: 10px;
    margin-left: 285px;
}
.adicionar:hover{
    background-color: rgb(3, 3, 54);
    border: 1px solid #fff;
    color: #fff;
}
.limpar{
    margin-left: 10px;
}
.limpar:hover{
    background-color: rgb(238, 2, 2);
    color: white;
    border: none;
}

.subtitulo{
    font-size: 35px;
}

.tarefaLista{
    list-style: decimal;
    font-size: 25px;
    color: #d9d2f2;
}

.remover{
    color: red;
    font-size: 16px;
    text-transform: lowercase;
    cursor: pointer;
}

hr{
    margin: 50px 130px;
}