body{
    background-color: rgb(217, 250, 230);
    font-family: 'monospace';
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.titulo{
    font-size: 50px;
    color: #001;
    margin: 5% 0;
}
.conteudo{
    background-color: rgb(111, 183, 118);
    padding: 40px;
    border-radius: 80px 10px;
}
.subtitulo{
    font-size: 40px;
    color: white;
    text-transform: capitalize;
}
.subtitulo::selection{
    color: black;
}
.img{
    margin-top: -35px;
    width: 250px;
}
.botao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: green;
    border: none;
    border-radius: 3px 15px;
    color: #f8f8f8;
    font-size: 15px;
    font-weight: bold;
}
.botao:hover{
    background-color: #f8f8f8;
    color: green;
    cursor: pointer;
}
a{
    text-decoration: none;
}